@import "../_common/util";

.root {
  border-left: $borderB;
  border-right: $borderB;
  width: $contentSize;
  padding: $halfLargeMargin;
  min-height: 2000px;
}

.image {
  width: 100px;
  height: 100px;
}
